{% extends 'layout.html' %}

{%block body %}
<div class="jumbotron text-center">
    <h1>REGISTER HERE</h1>
    <br/>
    {%from  "includes/formhelper.html" import render_field%}
    <form method="POST" action="">
        <div class="form-group"></div>
        {{render_field(form.name,class_="form_control")}}
        <br/>
     
       
        {{render_field(form.password,class_="form_control")}}
<br/>
        {{render_field(form.confirm,class_="form_control")}}
        </div>
        <p><input type="submit" class="btn btn-primary" value="Register"></p>
    </form>
</div>
{%endblock%}


